* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.hero-text p {
    font-size: 18px;
    font-weight: 400;
    margin: 15px 0 25px;
    max-width: 500px;
    opacity: 1;
    transition: opacity 0.5s ease;
    color: #f5f5f5;
    letter-spacing: 0.5px;
}


body {
    background: #fff;
    color: #333;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 60px;
    background: #111;
    color: #fff;
}

header nav a {
    color: #fff;
    margin-left: 25px;
    text-decoration: none;
    font-weight: 500;
}

.logo {
    font-size: 22px;
    font-weight: 700;
}

/* Hero */
.hero {
    height: 90vh;
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),
    url("https://images.unsplash.com/photo-1606313564200-e75d5e30476c") center/cover;
    display: flex;
    align-items: center;
    padding: 0 80px;
}

.hero-text {
    color: #fff;
    max-width: 600px;
}

.hero-text h1 {
    font-size: 48px;
    margin-bottom: 15px;
}

.hero-text button {
    padding: 12px 30px;
    background: #e91e63;
    border: none;
    color: #fff;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
}

/* Cakes */
.cakes {
    padding: 70px 60px;
    text-align: center;
}

.cake-grid {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    gap: 30px;
}

.cake-card {
    background: #fff;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0,0,0,.1);
    transition: 0.3s;
}

.cake-card:hover {
    transform: translateY(-10px);
}

.cake-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.cake-card h3 {
    margin: 15px 0 5px;
}

.cake-card p {
    color: #e91e63;
    font-weight: 600;
    margin-bottom: 15px;
}

/* About */
.about {
    padding: 80px 60px;
    background: #f8f8f8;
    text-align: center;
}

/* Reviews */
.reviews {
    padding: 70px 60px;
    text-align: center;
}

.review-box {
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

.review {
    width: 280px;
    padding: 25px;
    background: #fff;
    box-shadow: 0 5px 20px rgba(0,0,0,.1);
    border-radius: 15px;
}

/* Contact */
.contact {
    padding: 60px;
    background: #111;
    color: #fff;
    text-align: center;
}

footer {
    background: #000;
    color: #aaa;
    text-align: center;
    padding: 15px;
}

